.dockerignore
__pycache__
.pytest_cache
/data*
!/data/*/
/required_software*
!/required_software/*/
*.png
*.pptx

# Ignore everything under the output directory
/output/*
# Except note.txt at the root of output
!output/note.txt
# Except note.txt within the output/project_data
!output/project_data/note.txt
# and the note.txt within the output/logs
!output/logs/note.txt
