.dockerignore
__pycache__
.pytest_cache
/data*
!data/note.txt
!data/project_data/*
/required_software*
!required_software/*/
output/north_sea_exclusions.tif
*.png
*.pptx
/output*
!output/note.txt
