.dockerignore
__pycache__
.pytest_cache
/data*
/output/*
*.png
*.pptx

# Ignore everything under the output directory
!data/note.txt
!data/exclusion_data/processed/note.txt
!data/exclusion_data/raw/note.txt
!data/met_data/note.txt
# Except note.txt at the root of output
!output/note.txt
# Except note.txt within the output/project_data
!data/project_data/note.txt
# and the note.txt within the output/logs
!output/logs/note.txt
eez_v12*
/settings/data_paths.json
